/*CSS reset*/
* {
    margin: 0;
    padding: 0;
}
body {
    font: 18px Inter, Arial;
    color: #333;
    padding-top: 100px;
}
.header {
    background: #fff; /*Cor do Fundo*/
    width: 100%; /*Largura*/
    position: fixed; /*Fixar cabeçalho ao topo*/
    top: 0; /*Fixar cabeçalho ao topo*/
    box-shadow: 0 0 10px #CCC; /*Sombra*/
    padding: 10px; /*Margin interna*/
    box-sizing: border-box; /*Para não aumentar o tamanho do padding*/
}
.header .header-logo img {
    width: 300px;
}
.header .header-menu {
    border: 1px solid #333; /*Borda = Tamanho, tipo e cor*/
    padding: 10px;
    color: #333;
    text-decoration: none;
    float: right; /*Empurrar elemento para direita*/
    margin-top: 25px;
    border-radius: 5px; /*Arredondar borda*/
}
.header .header-nav ul li {
    margin: 15px;
}
.img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #CCC;
    margin: 20px 0;
}
.header .header-nav ul li a {
    text-decoration: none;
    color: #CCC;
}
.header .header-nav ul {
    list-style: none; /*Retirar bolinha dos itens da lista*/
}
.header .header-nav {
    display: none;
}
.show {
    display: block !important;
}
.banner {
    /*Imagem de Fundo*/
    background: url(../images/top.jpg) bottom; /*Bottom = irá começar a mostra de baixo para cima*/
    /*Altura mínima*/
    min-height: 500px;
}
.banner h2, .banner p {
    color: darkorange;
    line-height: 35px; /*Altura em cada linha*/
}
.banner .flex {
    text-align: center;
    padding-top: 130px;
}
.desktop {
    display: none;
}
.btn {
    background: darkorange;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    padding-top: 10px;
}
.flex-carros, .flex-footer {
    display: flex;
    flex-wrap: wrap; /*Jogar coluna que não cabe para baixo*/
    justify-content: center; /*Centralizar ao centro*/
}
.flex-carros .flex-col {
    width: 90%;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
}

.footer {
    background-color: #f1f1f1;
    padding: 15px 0;
}
.flex-footer .flex-col {
 width: 90%;
 padding-top: 50px;
}
.flex-carros .flex-col p {
    line-height: 35px;
    padding-bottom: 20px;
}
.flex-carros .flex-col img {
    width: 80%;
}
.flex-footer .midias a {
    text-decoration: none;
    color: red;
    line-height: 30px;
    margin: 20px;
    font-size: 20px;
}
/*REGRAS PARA TAMANHO DE TELA DIFERENTES*/
@media (min-width: 460px) { /*Quando a tela for menor que 460px*/

    .flex-footer .flex-col {
        width: 50%;
    }
    .flex-carros .flex-col {
        width: 22%;
    }
    /*Esconder botão bamburguer*/
    .header-menu {
        display: none;
    }

    /*Mostrar o menu normal*/
    .header .header-nav, .desktop {
        display: block;
    }

    /*Jogar o menu para Direita*/
    .header .header-nav {
        float: right;
        margin: 15px;
    }

    /*Aparecer um item ao lado do outro*/
    .header .header-nav ul li {
        display: inline-block;
    }

    .header .header-nav ul li a:hover{
        color: #E99339;
        transition: all 0.5s;
    }
    .flex {
        text-align: left;
        display: flex;
        width: 1000px;
        margin: auto;
    }
    .container {
        width: 1000px;
        margin: 50px auto;
    }
}
